# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files
*.ts text
*.tsx text
*.js text
*.jsx text
*.json text
*.md text
*.yml text
*.yaml text
*.html text
*.css text
*.scss text
*.sh text eol=lf
*.env* text

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf
*.cmd text eol=crlf

# Denote all files that are truly binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.zip binary
*.gz binary
*.tar binary
*.tgz binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary